/* Styles for model bio */

/* simple css reset */

*
{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}

body
{
  /* background-color: #1f2c39; */
  margin: 10px;
}



/* our main structural components are ul, ol, li */
/* clear bullets and apply font styling */
/* everything is contained with in ul.main__body and ul.footer */



ul.main__body
{
  position: relative;
  list-style: inside none none;
  margin: auto;
  border-radius: 1px;
  color: white;
  text-shadow: 0px 1px 2px rgb(0, 0, 0);
  font-family: Helvetica, serif;
  font-size: clamp(1vmin, 12px, 2vmin);
  font-weight: 300;
  line-height: 1.3;
  padding: 3em;
  z-index: 900;
  background-attachment: fixed;
  background-image: url("https://drive.google.com/uc?export=view&id=1m9kQMaq0C7RAAq3XKduHqd5JEQHHL8Z_");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;


}

ul#main_wrapper
{
  backdrop-filter: blur(2px);
  border: 3px double black;
  padding: 2em;
}

ul.footer
{
  margin: auto;
  margin-top: 50px;
  border-radius: 12px;
  color: white;
  font-size: 1em;
  text-align: center;
}


ul.top-image,
ul.main__body,
ul.bottom-image
{
  margin-left: -160px;
}

/* define the li elements */
/* li elements hold the individual
pieces of out bio */

li
{
  list-style: outside none none;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

ul>li:not(:has(img))
{
  border: 1px solid black;
}

/* a text box with background color */
.textbox
{
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 10em;
  max-width: 900px;
}


.heading
{
  font-size: 3em;
  font-family: 'Brush Script MT', cursive;
}

.subheading
{
  font-size: 1.3em;
  text-align: center;
}

.big-text
{
  font-size: 1.2em;
}

.small-text
{
  font-size: 0.8em;
}

.left-align
{
  text-align: left;
  padding-left: 7%;
  padding-right: 7%
}


/* lists/menus can use ordered lists with no bullets */
ol
{
  list-style: outside none none;
  margin: auto;
  max-width: 800px;
}

li>ol
{
  /* border: 1px solid goldenrod; */
  border-top: 2px solid goldenrod;
  border-bottom: 2px solid goldenrod;
}

/* define img related styles */

img
{
  pointer-events: none;
}

img.label
{
  max-width: 90%;
  max-height: 150px;

}

.circle
{
  width: 90%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.drop-shadow
{
  filter: drop-shadow(0px 7px 17px #0C0C0C);
}

.rounded
{
  border-radius: 5px;
  overflow: hidden;
}

img#main_image
{
  position: relative;
  width: 50%;
  object-position: 0px 35%;
  object-fit: cover;
  max-width: 1000px;
  aspect-ratio: 3 / 4;
  border-radius: 50%;
}

img#name-image
{
  position: relative;
  width: 100%;
  max-width: 885px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: -5px;
  filter: grayscale(1)
}


div.table-row
{
  display: table-row;
}

div.table-cell
{
  display: table-cell;
  vertical-align: baseline;
}


#image3
{
  max-width: 1000px;
  width: 90%;
  aspect-ratio: 3 / 1.5;
  object-fit: cover;
}


.two-image-container
{
  text-align: center;
  width: fit-content;
  margin: auto;
}

.two-image-container>img
{
  margin: 5px;
  width: 45%;
}


/* SET UP TIPMENU */

li#li__tipmenu
{
  max-width: fit-content;
  padding: 1.5em;
  /* border: 1px solid black; */
}

ol.tipmenu
{
  width: 350px;
  max-width: 500px;
  padding: 0px 10px;
  /* border: 1px solid goldenrod; */
}

ol.tipmenu>li
{
  text-align: left;
  border-radius: 0px;
  border-bottom: 1px solid white;
  /* padding-bottom: 7px; */
}

.price
{
  position: relative;
  display: inline;
  float: right;
  width: 15ch;
  text-align: right;
  text-transform: none;
  /* background: linear-gradient(to bottom, #8b8b8b 0%, #474747 100%); */
  background: linear-gradient(to bottom,
      /* rgb(217, 237, 28) 0%, */
      #000000 0%,
      #464646 50%,
      #000000 100%);
  border-radius: .4em;
  padding: .4em .5em;
  /* margin-left: 0 */
  /* margin: -10px 0px; */
  ;
  margin-top: calc(-1.2em + .2em);
  margin-bottom: calc(-1.2em + .2em);
}


/* SET UP SCHEDULE */
.schedule
{}

li#li__schedule
{
  max-width: fit-content;
  padding: 1.5em;
  border: 1px solid black;
}

img.schedule
{
  /* transform: rotate(90deg); */
  /* width: 200px; */
}

ol.schedule
{
  position: relative;
  /* width: 400px; */
  max-width: 500px;
  padding: 0px 10px;
  /* border: 1px solid red; */
}


ol.schedule>li
{}

span.time
{
  float: right;
}

li.time
{
  max-width: 250px;
  line-height: 1.2em;
  font-weight: bold;
  text-align: left;
}


.bottom-image,
.top-image
{
  /* display:block; */
  position: sticky;
  bottom: 0;
  left: 0;
  height: 30vh;
  /* object-fit: contain;
  object-position: 0px 0px; */
  background-image:
    linear-gradient(to bottom,
      hsl(0, 0%, 0%) 0%,
      hsl(0, 0%, 7.92%) 8%,
      hsl(0, 0%, 15.67%) 15.2%,
      hsl(0, 0%, 23.26%) 21.7%,
      hsl(0, 0%, 30.67%) 27.8%,
      hsl(0, 0%, 37.91%) 33.5%,
      hsl(0, 0%, 44.97%) 38.9%,
      hsl(0, 0%, 51.85%) 44.3%,
      hsl(0, 0%, 58.55%) 49.7%,
      hsl(0, 0%, 65.07%) 55.3%,
      hsl(0, 0%, 71.39%) 61.2%,
      hsl(0, 0%, 77.52%) 67.5%,
      hsl(0, 0%, 83.45%) 74.4%,
      hsl(0, 0%, 89.17%) 82.1%,
      hsl(0, 0%, 94.69%) 90.5%,
      hsl(0, 0%, 100%) 100%),
    url('https://drive.google.com/uc?export=view&id=1zOClle0Cqjbo4mpqdN1zrkrE31X7-2vv');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: 100;
}

p.cbhours
{
  margin: 0;
  margin-left: 30%;
  margin-top: 15px;
  max-width: 70%;
  text-align: right;
  font-size: 0.9em;
  line-height: 1.4;
  color: #a4bef2
}

a.cbhours
{
  color: white;
  background-color: #424297;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #342454;
  padding: 3px 5px;
  border-radius: 15px;
  /* filter: drop-shadow(1px 1px 2px #c40fcb); */
  margin: 2px
}

#cbhourstag
{
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0cm;
  display: flex;
  justify-content: flex-start;
  vertical-align: top;
  width: 100%;
}

#cbhuors_span
{
  width: 400px;
  height: 45px;
  position: absolute;
  top: 5px;
  left: 0;
  backdrop-filter: blur(999px);
  -webkit-backdrop-filter: blur(999px);
  z-index: 4;
}

#cbhours_a
{
  z-index: 9999;
  position: absolute;
  left: 263px;
  top: 2px;
}

li.dmca
{

  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  list-style: none;
  padding: 15px;
  margin: 40px auto 40px auto;
  text-align: left;
  position: relative;
  clear: both;
  float: none;
  background-color: rgba(0, 0, 0, 0.60);
  font-size: 0.8em;
  color: #ccc;


}

img.dmca-badge
{
  display: block;
  margin: 2px 7px 3px 3px;
  width: 70;
  float: left;
  filter: grayscale(100%) blur(0px) brightness(100%) contrast(100%) hue-rotate(0deg) opacity(100%) invert(100%) saturate(100%) sepia(0%);
}